<di>
   <div class="col-2">
       <span>{{ contact.date_contact }}</span>
   </div>
    <div class="col-2">
        <span>{{ contact.sujet }}</span>
    </div>
    <div class="col-2">
        <span>{{ contact.email }}</span>
    </div>
    <div class="col-2">
        <span>{{ contact.reponse }}</span>
    </div>
    <div class="col-2">
        <a class="btn-primary"></a>
    </div>
    <div class="col-2">
        <div class="col-2">
            <a class="btn-danger"></a>
        </div>
    </div>
</di>