<form class="filter">
    <div class="row">
        <div class="col- form-check">
            <input class="form-check-input" name="all"  type="checkbox" value="" id="flexCheckDefault">
            <label class="form-check-label" for="flexCheckDefault">Tout</label>
        </div>
        <div class="form-check">
            <input class="form-check-input" name="waiting"  type="checkbox" value="" id="flexCheckDefault">
            <label class="form-check-label" for="flexCheckDefault">Tout</label>
        </div>
        <div class="form-check">
            <input class="form-check-input" name="reply"  type="checkbox" value="" id="flexCheckDefault">
            <label class="form-check-label" for="flexCheckDefault">Tout</label>
        </div>
    </div>
</form>