<form class="filter">
    <div class="row">
        <div class="col-4 form-check">
            <input class="form-check-input" name="all"  type="checkbox" value="" id="flexCheckDefault">
            <label class="form-check-label" >Tout</label>
        </div>
        <div class="col-4 form-check">
            <input class="form-check-input" name="waiting"  type="checkbox" value="" id="flexCheckDefault">
            <label class="form-check-label" >En attente</label>
        </div>
        <div class="col-4 form-check">
            <input class="form-check-input" name="reply"  type="checkbox" value="" id="flexCheckDefault">
            <label class="form-check-label" >Répondue</label>
        </div>
    </div>
</form>