{% extends 'base.html.twig' %}

{% block title %}Picassouille- Administration{% endblock %}

{% block body %}
    <div class="container">
        <h2>News - Admin</h2>
            <div class="row">
                {% include 'filter.html.twig'  %}
            </div>
            <div>
                {% for contact in contacts %}
                    <div class="row">
                        {% include '_card.html.twig' %}
                    </div>
                {% endfor %}
            </div>
    </div>
{% endblock %}
