{% extends 'base.html.twig' %}

{% block title %}Connexion!{% endblock %}

{% block body %}




       {% if error %}
           <div>{{ error.messageKey|trans(error.messageData,'security') }}</div>
         {% endif %}

    <div >
        <div >
            <div >
                <form method="post">
                    <h1 >Bonjour,veuillez-vous connecter s'il vous plaît</h1>
                    <div >
                        <label for="identifiant">Identifiant : </label>
                        <input type="email" name="identifiant" id="identifiant">
                    </div>
                    <div >
                        <label for="password">Mot de passe : </label>
                        <input type="password" name="password" id="password" class="form-control" required>
                    </div>
                    <div >
                        <button  type="submit">
                            Connexion
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
















{% endblock %}
