{% extends 'base.html.twig' %}

{% block title %}Ateliers-détails{% endblock %}

{% block body %}

    <style>
        .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
        .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    </style>

    <div class="example-wrapper">

        <section class="Ateliers">
                    <h2> {{ atelier.titre }} </h2>
                    <div class="content">
                        <p> {{ atelier.description }} </p>
                        <p> {{ atelier.duree }} h </p>

                        <button class="btn btn-primary bg-light">
                            <a href="{{ path('ateliers_inscription',{id: atelier.id}) }}">S'inscrire</a>
                        </button>

                    </div>

        </section>

    </div>

{% endblock %}