{% extends 'base.html.twig' %}

{% block body %}

    <atelier>
        <h2> {{ atelier.titre }} </h2>
        <div class="content">
            <p> {{ atelier.description }} </p>
            <p>{{ atelier.description }}</p>
        </div>
    </atelier>

{% endblock %}