{% extends 'base.html.twig' %}

{% block title %}Ateliers{% endblock %}
{% block nav_ateliers %}active{% endblock %}

{% block body %}

<div class="pi-page">
        <div class="container">
        {% for atelier in ateliers %}
                <h2> {{ atelier.titre }} </h2>
                    <div class="content">
                        <p> {{ atelier.description }} </p>
                        <button class="btn btn-primary bg-light">
                            <a href="{{ path('ateliers_details',{id: atelier.id}) }}">Voir l'atelier</a>
                        </button>
                    </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
