{% extends 'base.html.twig' %}

{% block title %}Ateliers{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">

<section class="Ateliers">
    {% for atelier in ateliers %}
        <atelier>
            <h2> {{ atelier.titre }} </h2>
                <div class="content">
                    <p> {{ atelier.description }} </p>
                    <form action="{{ path('news') }}">
                            <button type="submit">Voir l'atelier</button>
                        </form>
                    <!--   <a href="{{ path('news') }}"> Voir l'atelier </a> -->
                </div>
        </atelier>
    {% endfor %}

</section>

</div>
{% endblock %}
