{% extends 'base.html.twig' %}

{% block title %}Ateliers{% endblock %}
{% block nav_ateliers %}active{% endblock %}

{% block body %}
    <div class="pi-page">
        <div class="container">
            {% for atelier in ateliers %}
                <div class="card pi-page container">
                    <h4>{{ atelier.titre }}</h4>
                    <div class="content">
                        <p class="pi-texte"> {{ atelier.description }} </p>
                        <button class="pi-btn-rouge">
                            <a class="pi-btn-texte" href="{{ path('ateliers_details',{id: atelier.id}) }}">Voir l'atelier</a>
                        </button>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
