{% extends 'base.html.twig' %}

{% block title %} Ateliers-inscription-succes {% endblock %}

{% block body %}
    <style>
        .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
        .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    </style>

    <div class="example-wrapper">

        <div class="inscription_succes"> Succes </div>

        <h2>Succès de l'envoi</h2>

        <div>
            {{ Inscription.nom }} {{ Inscription.nom }}, le message suivant a bien été envoyé:<br>
            Votre adresse: {{ Inscription.email }}<br>
            Votre message:<br> {{ Inscription.message }}
        </div>

    </div>

{% endblock body %}