{% extends 'base.html.twig' %}
{% block title %}Ajouter - Picassouille{% endblock %}
{% block body %}
    <div class="container">
        <h1>L'oeuvre était supprimé avec succé</h1>
            <div class="row view-body">
                <button class="btn btn-primary"type="submit" onclick=""><a class="text-white" href="{{ path('oeuvres_admin') }}">Retour</a></button>
            </div>
    </div>
{% endblock %}