{% extends 'base.html.twig' %}

{% block title %}Hello NewsController!{% endblock %}

{% block body %}


    <h2>Page des NEWS</h2>

    <div class="container">
        <div class="row">
            <div class="col-md-3">{% include 'news/_filter.html.twig'  with {form: form} only %}</div>
            <div class="col-md-9">
                <div class="grid">
                    {% for article in articles %}
                        {% include 'news/_card.html.twig' %}
                    {% endfor %}
                </div>

                <div class="mt-4">
                    {{ knp_pagination_render(articles) }}
                </div>
            </div>
        </div>
    </div>

{% endblock %}
